

    <!-- Top shadow -->
    <div class="shadow"></div>
    <!-- end top shadow -->

    <!-- The splash screen -->
    <div id="splash">
        <div class="loader">
            <%= image_tag('logo.png', :class => "splash-logo") %>
            <div class="line"></div>
        </div>
    </div>
    <!-- End of splash screen -->

    <div id="wrapper">
        <!-- main content -->
        <main>
            <!-- The header for content -->
            <header class="detail">
                <a href="/" class="back" data-transition="slide-from-top">
                    <h1>back</h1>
                </a>
                <section>
                    <!-- <h3 class="badge">reviews</h3> -->
                    <h1>Acclaim</h1>
                </section>
            </header>
            <!-- end header -->
            <div class="content-wrap">
                <div class="content">
                    <i class="icon bg icon-CommentwithLines"></i>
                    <section>
                        <header>
                            <h2>Open Table Reviews</h2>
                            <h4 class="serif">• January 2015 • Brett Hickman</h4>
                        </header>

                        <p>This is simply "the Best Thai" restaurant in the entire country -- and we're confident we have tried and continue to try any of the notable contenders across the country (thanks to our business which allows us to annually visit the major food cities in the U.S.). Although they were still in their "soft reopening phase, the kitchen is in full gear. The three of us opted for the 10-course menu and were amazed that so many of the dishes were conceptually new -- at least 7 of the 10. The Barcelona-style creativity and food as theater, which Arun's pioneered in Chicago almost 30 years ago, is very much alive and well -- and every dish delivered remarkably intense flavors. The new wine list is a work-in-progress, but all else is as unique as it has always been, yet with enhanced imagination. Bravo -- can't wait to return.<a href="https://www.opentable.com/aruns">read more</a></p>

                        <header>
                            <h2>Eater Chicago</h2>
                            <h4 class="serif">• January 2014 • Brett Hickman</h4>
                        </header>

                        <p>7 Restaurants Nab 5 Diamonds (Acadia, Alinea, Arun's, Everest, Grace, Sixteen and Tru) <a href="http://chicago.eater.com/2014/1/17/6295071/7-restaurants-nab-5-diamonds">read more</a></p>

                        <header>
                            <h2>Chicago Public Media</h2>
                            <h4 class="serif">• September 2013 • Monica Eng</h4>
                        </header>

                        <p>.....When Arun Sampathavivat opened his acclaimed restaurant in 1985, he came to the project with multiple academic degrees, but zero culinary training. No matter. Within a few years, the budding chef would transform a drab Northwest Side corner of Kedzie Avenue into a world class dining destination, earning the industry's highest accolades.... <a href="http://www.wbez.org/can-arun-sampanthavivat-create-chicago-neighborhood-scratch-108701">read more</a></p>


                        <header>
                            <h2>Eater Chicago</h2>
                            <h4 class="serif">• January 2013 • Jeffy Mai</h4>
                        </header>

                        <p>AAA has announced its Five Diamond Award recipients for 2013 and four Chicago restaurants have retained their rating. Alinea, Arun's, Everest and Tru all earned the award.... <a href="http://chicago.eater.com/2013/1/18/6493177/four-chicago-restaurants-earn-aaa-five-diamond">read more</a></p>


                        <header>
                            <h2>James Beard Foundation</h2>
                            <h4 class="serif">• January 2012 •</h4>
                        </header>

                        <p>Best chefs in America <a href="http://www.jamesbeard.org/awards/aruns-2010-334">read more</a></p>


                        <header>
                            <h2>Chicago Reader</h2>
                            <h4 class="serif">• August 2001 • Laura Levy Shatkin</h4>
                        </header>

                        <p>Critics and diners agree -- you haven't experienced Thai food until you've let Arun Sampanthavivat seduce you with his sophisticated fare. Arun's brings Thai cuisine to new heights, using only the freshest ingredients in tantalizing combinations plated so exquisitely that it's almost vandalism when you dig in.</p>

                        <header>
                            <h2>Chicago Tribune</h2>
                            <h4 class="serif">• May 2000 •</h4>
                        </header>

                        <p>.., for Arun's is a civic treasure, one of the restaurants that defines Chicago as a world class restaurant town. Four stars. For an enduring (11-year-old) Chicago restaurant that refuses to bask in previous praise. For a restaurant that, already the best of its kind continues to get better.</p>

                        <header>
                            <h2>New York Times</h2>
                            <h4 class="serif">• April 1998 • Alex Witchel</h4>
                        </header>

                        <p>The great chef's go to him to be dazzaled. To hear him talk, you might thinlk he's a man with regrets. "It's like Rip van Winkle," Arun Sampanthavivat says plaintively. "When I turn back, so many years have passed. In the restaurant business there is no time of your own. It's going on and on like a curse." What's the curse? His four-star review in the Chicago Tribune, another one in the Chicago Sun-Times, a four-star rating in the Mobil Guide, and again this year, the James Beard Foundation's nomination for Best Chef in the Midwest - his fourth.</p>




                    </section>
                </div>
            </div>
            <!-- Block footer with signature and share links -->
            <footer class="overlay-dark">

            </footer>

            <div data-remodal-id="modal">
                <i class="icon bg icon-CommentwithLines"></i>
                <button data-remodal-action="close" class="remodal-close"></button>
                <h1></h1>
                <p></p>

            </div>
        </main>
        <!-- end of main content -->
    </div>

    <!-- The slideshow -->
    <ul id="slideshow" data-speed="6000">
        <li>
            <%= image_tag('dumpling.jpg') %>
        </li>
        <li>
            <%= image_tag('crab-cake.jpg') %>
        </li>
        <li>
            <%= image_tag('stripe-bass.jpg') %>
        </li>
        <li>
            <%= image_tag('aruns-coconut-noodles.jpg') %>
        </li>
        <li>
            <%= image_tag('sorbet.jpg') %>
        </li>
        <li>
            <%= image_tag('beef-curry.jpg') %>
        </li>
        <li>
            <%= image_tag('k-thong.jpg') %>
        </li>
        <li>
            <%= image_tag('lad-nar.jpg') %>
        </li>
    </ul>
    <!-- end of slideshow -->

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
